{% extends 'views/layouts/contentLayoutMaster.html.twig' %}

{% block title %} Ajouter un Blog {% endblock %}
{% block content %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

    <div class="col">
        <div class="form-group">
            <a href="{{path('newpostcategory')}}" class="btn btn-success">Ajouter une categorie </a>
        </div>
    </div>
{% endblock %}